<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>BookClub | Authors</title>
  </head>
  <body>
    <%= @authors.each do |a| %>
      <%= link_to(a.name, author_path(a), id: "author-#{a.id}") %>
    <% end %>
  </body>
</html>
