<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>BookClub | <%= @author.name %></title>
  </head>
  <body>
    <h1><%= @author.name %></h1>
    <% @books.each do |book| %>
      <%= link_to(book.title, book_path(book.id)) %>
    <% end %>
  </body>
</html>
