<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Book Club</title>
  </head>
  <body>
    <nav>
      <a id='homepage' href="/">BookClub</a>
      <a id='books' href="/books">All books</a>
    </nav>
    <%= link_to "Add a book", new_book_path %>
  </body>

</html>
