<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Book Club</title>
  </head>
  <body>
    <nav>
      <a id='homepage' href="/">BookClub</a>
      <a id='books' href="/books">All books</a>
    </nav>

    <% @books.each do |b| %>
      <a id='book-title-<%= b.id %>' href="/books/<%= b.id %>"><%= b.title %></a>
    <% end %>
  </body>
</html>
