<nav>
  <div class="link-container">
    <%= link_to("Book Club", root_path) %>
  </div>
  <div class="link-container">
    <%= link_to("All Books", books_path) %>
  </div>
  <div class="link-container">
    <%= link_to("New Book", books_path) %>
  </div>
  <div class="link-container">
    <%= link_to("All Authors", authors_path) %>
  </div>
</nav>
